<footer id="footer">
  <section>
    <!-- Formspree form for adding a email form to the status site -->
    <form method="POST" action="https://formspree.io/{{site.email}}">
      <div class="field">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" />
      </div>
      <div class="field">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" />
      </div>
      <div class="field">
        <label for="message">Message</label>
        <textarea name="message" id="message" rows="3"></textarea>
      </div>
      <ul class="actions">
        <li><input type="submit" value="Send Message" /></li>
      </ul>
    </form>
  </section>

  <!-- Contact side section, location, phone, email -->
  <section class="split contact">

    <!-- Location -->
    <section class="alt">
      <h3>Location</h3>
      <p>{{site.location}}</p>
    </section>

    <!-- Phone -->
    <section>
      <h3>LinkedIn</h3>
      <ul class="icons alt">
        <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
      </ul>
    </section>

    <!-- Email -->
    <section>
      <h3>GitHub</h3>
      <ul class="icons alt">
        <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
      </ul>
    </section>

    <!-- Email -->
    <section>
      <h3>Facebook</h3>
      <ul class="icons alt">
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
      </ul>
    </section>

    <!-- Connect Section -->
    <!-- <section>
      <h3>Connect</h3>
      <ul class="icons alt">
        <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
        <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
      </ul>
    </section> -->
    
  </section>
</footer>
<!-- Copyright bottom section -->
<div id="copyright">
  <ul><li>&copy; Trey Fortmuller </li><li> Based on a Design by <a href="https://html5up.net">HTML5 UP</a></li></ul>
</div>
