<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Projects</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/resume/" | absolute_url }}">Resume</a></li>
  <li class="{% if page.url contains '/elements/' %} active {% endif %}"><a href="{{ "/publications/" | absolute_url }}">Publications</a></li>  
</ul>
