<!DOCTYPE HTML>
<html>
	<head>
    {% include head.html %}

	</head>
	<body class="is-loading">

		<!-- Wrapper -->
			<div id="wrapper" class="fade-in">

				<!-- Intro -->
					<div id="intro">


					<!-- Profile picture -->
						<div><img src="/images/id_photo.jpg" alt="" class="image main profile"></div>
						
					<!-- Title -->
            			<h1>{{site.title}}</h1>
						<h2>Project Portfolio</h2>
						<p>I'm a 4th year Engineering Physics major at UC Berkeley. My interests include robotics, mechanical design, and control.</p>

						<ul class="actions">
							<li><a href="#header" class="button icon solo fa-arrow-down scrolly">Continue</a></li>
						</ul>
					</div>

				<!-- Header -->
				<header id="header">
					<a href="{{ "/" | absolute_url }}" class="logo">{{site.title}}</a>
				</header>


				<!-- Nav -->
					<nav id="nav">

            {% include nav.html %}

						<ul class="icons">
							<li><a href="https://www.linkedin.com/in/{{site.linkedin}}" class="icon fa-linkedin" rel="nofollow"><span class="label">LinkedIn</span></a></li>
			                <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
			                <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
						</ul>
					</nav>

				<!-- Main -->
				<div id="main">

					<!-- Intro to projects --> 
			        <article class="post featured">
			          <header class="major">
			            <h2><a href="#">Projects</a></h2>
			            <p>The best part of going to school is getting to work with people who share my passions, on projects that inspire me. I've outlined some of those experiences here. My project portfolio consists mostly of personal side projects, but I've also included endeavors from hackathons, student clubs, and project-oriented lab classes. I've included each project's motivation, design, fabrication, and challenges I ran into along the way.</p>
			          </header>
			        </article>

					<!-- Project tiles -->
					<section class="posts">
						{% for post in site.posts %}
							<article>
								<header>
									<span class="date">{{ post.date | date_to_string }}</span>
									<h2><a href="{{ post.url | absolute_url }}">{{ post.title }}</h2>
								</header>
								<a href="{{ post.url | absolute_url }}" class="image fit"><img src="{{ post.image | absolute_url }}" alt="" /></a>
								<p>{{ post.excerpt }}</p>
								<ul class="actions">
									<li><a href="{{ post.url | absolute_url }}" class="button">View Project</a></li>
								</ul>
							</article>
						{% endfor %}
						

						<!-- empty space to keep the squares consistnet -->

						<article>
						</article>
						
					</section>

					</div>

				<!-- Footer -->
        {% include foot.html %}

			</div>

			<!-- Scripts -->
			{% include scripts-main.html %}
			{% include tracking.html %}

	</body>
</html>
